<div {% if module_id is not empty %}id="{{ module_id }}"{% endif %} class="module text-divider {% if module_class is not empty %} {{ module_class }}{% endif %}">
	<div class="hr-solid"><hr /></div>
</div>